body {
    background:url(back.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    display: flex;
}


#child_container {
    margin: 0px;
    padding: 0px;
    border: 1px solid black;
}

.div-text {
    border: 1px solid black;
    margin: 25px 15px 15px 15px;  
}

.fas {
    font-size: 50px;
    position: fixed;
    bottom: 50px;
    right: 50px;
    color:rgb(255, 0, 0);
}

#create_team {
    position: fixed;
    top: 150px;
    right: 650px;
    border: 1px solid black;
    padding: 50px;
}

.match {
    margin: 8px;
    font-size: 20px;
}

.create_input {
    padding: 10px;
    margin: 0px 0px 0px 5px;
    color: white;
    background-color: rgb(9, 255, 0);
    font-size: 20px;
}

.cancel_input {
    padding: 10px;
    margin: 0px 0px 0px 80px;
    color: white;
    background-color: rgb(195, 0, 255);
    font-size: 20px;
}

